/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* style */


.jumbotron {
    text-align: center;
    background-color: #20c997;
    color: black;
    padding-top: 7rem;
    background-image: url(img/utmonas.jpg);
    background-position: 0 -40px;
}

.jumbotron h1, .lead {
   font-family: 'Knewave', cursive;
}

.rounded-circle {
    width: 200px;
    height: 200px;
}

#foto {
    background-color: #20c997;
}

#projects {
    background-color: #20c997;
}

.container-project {
    padding: 10px;
}

section {
    padding-top: 3rem;
}

#video {
    background-color: #20c997;
}

.nav-item, .navbar-brand {
   font-family: 'Rubik Wet Paint', cursive;
}


.dropdown-menu {
    font-family: 'Changa', sans-serif;
}

.navbar-brand, .nav-link {
    cursor: pointer;
    transition: all .5s ease-in;
    color: white;
}

.navbar-brand:hover {
    color: black;
}

.navbar {
    position: fixed;
    display: flex;
    width: 100%;
    height: auto;
    background-color: #188754;
    opacity: 0.9;
    z-index: 9999;
}

.video {
    border-radius: 10px;
}

.carousel-inner {
    border-radius: 10px;
}

.container-r p {
    width: 100%;
    height: auto;
    padding: 5px;
    font-size: 20px;
    margin: 5px;
    font-family: 'Changa', sans-serif;
}

.judul {
    font-size: 30px;
    margin: 15px;
    padding: 5px;
    font-family: 'Changa', sans-serif;
}

.container-r img {
    float: left;
    width: 700px;
    height: 500px;
    margin: 5px;
    padding: 5px;
}

h2 {
    font-size: 30px;
    margin: 20px;  
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Shrikhand', cursive;
}

.footer {
    text-align: center;
    background-color: #188754;
    width: 100%;
    height: 100px;
    font-size: 20px;
    padding: 22px 0;
    color: white;
}

.footer a {
    font-family: 'Rubik Wet Paint', cursive;
}

.footer p {
    font-family: 'Changa', sans-serif;
}

.footer .text {
    color: white;
    text-align: center;
    cursor: pointer;
    transition: all .5s ease-in;
    display: inline-block;
    margin: 0 0.1rem;
    animation: pulse infinite;
    animation-duration: 1s;
}

.footer .text:hover {
    color: black;
}

.card-text, form {
   font-family: 'Changa', sans-serif;
    margin: 5px;
}

#media-social a {
    font-family: 'Changa', sans-serif;
}

#media {
    box-shadow: 10px 10px 10px rgba(0,0,0,.50)
}

@media screen and (max-width: 1000px){
    .container-r img {
        width:100%;
        height: 50%;
    }
    .container-r p {
        width: 95%;
    }
}

    
