@import url("https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "News Cycle", sans-serif;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
/* nav, */
hgroup,
menu,
section {
  display: block;
  overflow: hidden;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* style */
.jumbotron {
  text-align: center;
  color: #fff;
  padding-top: 7rem;
  background-image: url(img/utmonas.jpg);
  background-position: 0 -100px;
  background-attachment: fixed;
  background-size: cover;
}

.jumbotron .lead {
  font-size: calc(4vw + 0.5rem);
  font-weight: bold;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.rounded-circle {
  width: 200px;
  height: 200px;
}

#photo,
#projects,
#videos {
  background-color: #20c997;
}

.dropdown-menu {
  font-family: sans-serif;
}

.navbar-brand,
.nav-link {
  cursor: pointer;
  transition: all 0.3s ease;
  color: #ffffff;
}

.navbar {
  /* display: flex; */
  position: fixed;
  width: 100%;
  height: 7%;
  background-color: #198754;
  z-index: 9999;
  transition: all 0.5s ease;
}

.navbar .container .nav-link {
  text-align: center;
}

.navbar .container .offcanvas {
  background-color: rgb(24, 135, 84, 0.5);
}

.navbar .container .navbar-brand {
  font-family: "Parisienne", cursive;
  font-size: 2em;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.container .row .carousel-inner {
  border-radius: 10px;
}

.container .artikel .col p {
  width: 100%;
  height: 100%;
  line-height: 2;
}

.container .artikel img {
  float: left;
  width: 100%;
  height: 100%;
  border-top: 5px solid lawngreen;
  border-bottom: 5px solid lawngreen;
  border-right: 5px solid lawngreen;
  border-left: 5px solid lawngreen;
  border-radius: 10px;
  margin-right: 10px;
}

.container .artikel h1 {
  font-size: 2em;
  padding: 5px;
  background-color: lawngreen;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
}

.container .artikel .element a {
  color: red;
  display: inline-block;
  animation: flash infinite;
  animation-duration: 1s;
  cursor: pointer;
}

.container .artikel .element a:hover {
  color: blue;
  transition: all 0.6s ease;
  animation: none;
  animation-duration: none;
  text-decoration: underline;
}

.container .artikel .element {
  position: absolute;
  margin-top: 26rem;
  width: 500px;
  text-align: center;
}

.container h2 {
  font-size: calc(3vw + 0.3rem);
  font-weight: bold;
  margin-bottom: 2rem;
}

.container .row-empat .card-title {
  font-size: 1.3em;
  font-weight: bold;
}

.container .card-body p {
  line-height: 1.3;
}

/* .container .video iframe {
  width: 560px;
  height: 315px;
} */

.footer {
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 15px 0;
  color: #ffffff;
}

.footer .footer-element {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 0.3rem;
}

.footer p {
  font-family: sans-serif;
}

.footer a {
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
  display: inline-block;
  margin: 0 0.3rem;
  animation: pulse infinite;
  animation-duration: 1s;
  /* margin: 0 0.3rem; */
}

.footer a:hover {
  color: #000;
  font-weight: bold;
}

.row-empat .card .card-body a {
  z-index: 1;
}

.row-empat {
  display: flex;
  justify-content: space-around;
}

.row-empat .card {
  width: 18rem;
}

.row-empat .card:hover {
  transform: scale(1);
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
}

.row-tiga {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.row-tiga .card {
  margin-bottom: 10px;
  margin: 10px;
  transition: all 0.2s ease;
}

.row-tiga .card:hover {
  transform: scale(1.1);
}

/* Demo styles */

.family .swiper {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
}

.family .swiper .swiper-wrapper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 400px;
  background: #188754;
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
}

.family .swiper-slide img {
  display: block;
  width: 100%;
  height: 300px;
  border-radius: 8px 8px 0 0;
}

.family .swiper-slide .detailis {
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  line-height: 50px;
}

.family .swiper-slide .detailis h3 {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

/* video */
.container .video .swiper {
  width: 100%;
  height: 100%;
}

.container .video .swiper .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.About {
  padding: 7rem 5% 1.5rem;
}

/* Language */

.language {
  position: absolute;
  right: 0;
  left: 90%;
  display: flex;
  width: 120px;
  /* margin-left: 40px; */
  font-weight: bold;
  /* line-height: 1.5; */
}

.language-selected {
  display: flex;
  align-items: center;
  color: #fff;
}

.language-selected::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(https://www.countryflagicons.com/FLAT/64/GB.png);
  background-size: contain;
  background-repeat: no-repeat;
  /* margin-right: 30%; */
}

/* Jquery Class */
.language-selected.change-en:before {
  background-image: url(https://www.countryflagicons.com/FLAT/64/GB.png);
}
/* .language-selected.change-jr:before {
  background-image: url(https://www.countryflagicons.com/FLAT/64/DE.png);
} */
.language-selected.change-in:before {
  background-image: url(https://www.countryflagicons.com/FLAT/64/ID.png);
}

.language ul {
  position: absolute;
  top: 100%;
  right: 10%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 20px solid #f8f8f8;
  padding-bottom: 59px;
  text-align: center;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
  display: none;
  border-radius: 5px;
}

.language ul li {
  list-style: none;
}

.language ul li:hover {
  background-color: #f8f8f8;
}

.language ul li a > {
  display: flex;
  color: #252525;
}

.language ul li a::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}

a.en::before {
  background-image: url(https://www.countryflagicons.com/FLAT/64/GB.png);
}
/* a.jr::before {
  background-image: url(https://www.countryflagicons.com/FLAT/64/DE.png);
} */
a.in::before {
  background-image: url(https://www.countryflagicons.com/FLAT/64/ID.png);
}

.language:hover ul {
  display: block;
}

/* Media Query */

/* Laptop */

/* (min-width: 1024px) & (max-width: 1440px) */

@media screen and (max-width: 1440px) {
  .navbar {
    width: 100%;
    height: 8%;
  }
  .container .artikel .col p {
    width: 100%;
    height: 100%;
  }
  .container .artikel .element {
    position: static;
    margin-top: 0;
    width: 100%;
    text-align: center;
  }
  .jumbotron {
    text-align: center;
    width: 100%;
    height: 100%;
  }
  .row-empat {
    flex-wrap: wrap;
  }
  .row-tiga {
    flex-wrap: wrap;
  }
  .language {
    position: absolute;
    right: 0;
    left: 80%;
  }
  .container .artikel img {
    width: 50%;
    height: 50%;
  }
}

/* Tablet */
/* (min-width: 768px) & (max-width: 1024px) */
@media screen and (max-width: 1024px) {
  .navbar {
    width: 100%;
    height: 10%;
  }
  .language {
    position: absolute;
    right: 0;
    left: 70%;
  }
  .container .artikel img {
    width: 40%;
    height: 40%;
  }
  .container .artikel .col p {
    width: 100%;
    height: 100%;
  }
}

/* Mobile Phone */
@media screen and (max-width: 768px) {
  .navbar {
    width: 100%;
    height: 8%;
  }
  .language {
    position: absolute;
    right: 0;
    left: 60%;
  }
  .container .artikel img {
    width: 100%;
    height: 100%;
  }
  .container .artikel .col p {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 380px) {
  .language {
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #188754;
  }
  .language ul {
    position: absolute;
    right: 0;
    left: 10%;
  }
}
